USE [master]
GO
/****** Object:  Database [MyNewDB]    Script Date: 2024/12/26 下午 05:57:59 ******/
CREATE DATABASE [MyNewDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyNewDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MyNewDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyNewDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MyNewDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyNewDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyNewDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2024/12/26 下午 05:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserGuid] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([UserGuid], [Name]) VALUES (N'029db6ec-a467-4439-9668-9db7ef479a9c', N'Bananana')
GO
USE [master]
GO
